<div class="main">  
  <img src="../assets/images/viaLogo.jpg" alt="Via Varejo"> 
  <i class="demo-icon icon-search sIcon">&#xe806;</i>
  <input type="text" class="iptSearch" placeholder="Encontre aqui as melhores ofertas">
 <button class="searchBtn">Buscar</button> 
 <i class="demo-icon icon-user icon">&#xe800;</i> 
 <div class="pflItem">
    <h1>Olá, João Adolfo!</h1>
    <h1 class="dest">Minha Conta</h1>    
 </div>
 <i class="demo-icon icon-basket icon">&#xe804;</i>
 <div class="pflItem">    
    <h1>Meu Carrinho</h1>
    <h1 class="dest">0 Itens</h1>   
  </div>
</div>
